/* HERO WRAPPER */
.ct-hero-wrapper {
  width: 100%;
  padding: 120px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-bottom-left-radius: 180px;
  overflow: hidden;
  position: relative;
}

/* LEFT SIDE */
.ct-left {
  width: 50%;
}

.ct-title {
  font-size: 54px;
  font-weight: 800;
  color: #0e2a47;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.ct-desc {
  width: 90%;
  font-size: 22px;
  line-height: 1.8;
  color: #1a1a1a;
}

/* RIGHT SIDE */
.ct-right {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* PERSON WRAPPER */
.ct-person-wrap {
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* PERSON IMAGE */
.ct-person-img {
  width: 400px;
  height: auto;
  border-radius: 50%;
  z-index: 2;
}

/* DOT ELEMENT */
.ct-dots {
  position: absolute;
  top: -20px;
  right: 40px;
  width: 130px;
  height: 130px;
  background-image: radial-gradient(#2a4a73 3px, transparent 3px);
  background-size: 20px 20px;
  opacity: 0.55;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .ct-hero-wrapper {
    flex-direction: column;
    text-align: center;
    padding: px 6%;
  }

  .ct-left,
  .ct-right {
    width: 100%;
  }

  .ct-title {
    font-size: 42px;
  }

  .ct-desc {
    font-size: 20px;
  }

  .ct-person-wrap {
    width: 340px;
    height: 340px;
    margin-top: 40px;
  }

  .ct-person-img {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .ct-title {
    font-size: 32px;
  }

  .ct-desc {
    font-size: 18px;
  }

  .ct-person-wrap {
    width: 270px;
    height: 270px;
  }

  .ct-person-img {
    width: 240px;
  }
}
