body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
}

/* Outer Card */
.celebrate-box {
  width: 92%;
  margin: 50px auto;
  background: #ffffff;

  border: 3px solid rgba(165, 215, 130, 0.6);
  border-radius: 14px;

  padding: 40px 25px 60px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.12);
}

/* Image Row */
.celebrate-row img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #e3e3e3;
}

/* LET'S CELEBRATE */
.celebrate-title {
  margin-top: 45px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;

  background: linear-gradient(90deg, #8fd36a, #1b7d59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Main Text */
.celebrate-text {
  font-size: 22px;
  font-weight: 700;
  margin-top: 15px;
  line-height: 1.6;

  background: linear-gradient(90deg, #6fbf73, #2ea58f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* N I M ACADEMY */
.celebrate-name {
  margin-top: 20px;
  font-size: 16px;
  letter-spacing: 6px;
  font-weight: 600;

  background: linear-gradient(90deg, #7ccf63, #2f9f6f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .celebrate-row img {
    height: 220px;
  }
  .celebrate-text {
    font-size: 19px;
  }
}

@media (max-width: 480px) {
  .celebrate-row img {
    height: 185px;
  }
  .celebrate-text {
    font-size: 17px;
  }
  .celebrate-box {
  width: 95%;
  margin: 1px auto;
  background: #ffffff;

  border: 3px solid rgba(165, 215, 130, 0.6);
  border-radius: 14px;

  padding: 40px 25px 60px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.12);
}
}
/* Fade Up Initial State */
.fade-up {
  opacity: 0;
  transform: translateY(35px);
  transition: all 0.9s ease-out;
}

/* Fade Up Final State */
.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

/* Delay Classes */
.delay-1 { transition-delay: 0.1s; }
.delay-2 { transition-delay: 0.2s; }
.delay-3 { transition-delay: 0.3s; }
.delay-4 { transition-delay: 0.4s; }
.delay-5 { transition-delay: 0.5s; }
.delay-6 { transition-delay: 0.6s; }
.delay-7 { transition-delay: 0.7s; }
