/* MAIN WRAPPER */
.domains-section {
  padding: 60px 8%;
  background: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1150px;
  margin: auto;
}

/* MAIN HEADING */
.main-heading {
  font-size: 50px;
  font-weight: 700;
  color: #005587;
  margin-top: -60px;
  margin-bottom: 35px;
  max-width: 3200px;
}

.main-heading span {
  color: #71b516;
}

/* DESCRIPTION PARAGRAPH */
.main-desc {
  font-size: 25px;
  color: #333;
  line-height: 1.7;
  text-align: justify;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 60px;
}

/* SECTION TITLE */
.domains-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* SUBTITLE */
.domains-subtitle {
  font-size: 25px;
  margin-top: 50px;  
  color: #555;
}

/* GRID */
.domains-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 60px;
  justify-items: center;

}


/* FLIP CARD WRAPPER */
.flip-card {
  background: transparent;
  width: 100%;
  max-width: 340px;
  height: 200px;
  
  perspective: 1000px;
  margin-top: 50px;
}

/* INNER ROTATION WRAPPER */
.flip-card-inner {
  width: 100%;
  
  height: 100%;
  position: relative;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

/* HOVER FLIP */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);

}

/* FRONT & BACK */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 28px 18px;
  border-radius: 18px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;

  box-shadow: 0px 8px 22px rgba(181, 246, 93, 0.45);
  border-left: 8px solid #b5f65d;
}

/* FRONT SIDE */
.flip-card-front {
  background: #fff;
  text-align: center;
}

.flip-card-front h3 {
  font-size: 24px;
  font-weight: 700;
  color: #005587;
}

/* BACK SIDE */
.flip-card-back {
  background: #fff;
  transform: rotateY(180deg);
}

.flip-card-back p {
  font-size: 16px;
  font-weight: 400;
  color: #005587;
  text-align: center;
  line-height: 1.5;
}


/* CARD */
.domain-card {
  width: 100%;
  max-width: 340px;
  padding: 28px 18px;
  margin-top: 50px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0px 8px 22px rgba(181, 246, 93, 0.45);
  border-left: 8px solid #b5f65d;
  text-align: center;
  transition: 0.3s ease;
}

.domain-card:hover {
  transform: translateY(-6px);
}

/* CARD TEXT */
.domain-card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.domain-card p {
  font-size: 14px;
  color: #444;
  line-height: 1.5;
  
}

/* MOBILE */
@media (max-width: 750px) {
  .domains-grid {
    grid-template-columns: 1fr;
  }
}
