.hero-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* wrapper of each hero */
.hero-slide-container {
  width: 100%;
}

.hero-slide {
  width: 100%;
  min-height: 800px;
}

/* REMOVE dots completely */

