*{
  box-sizing:border-box;
}

.form-container{
  max-width:900px;
  margin:40px auto;
  padding:25px;
  background:#fff;
  border-radius:12px;
  box-shadow:0 0 20px rgba(0,0,0,0.1);
  margin-top:100px;
}

.event-box{
  text-align:center;
  margin-bottom:25px;
}

.horizontal-form{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:15px;
}

.field{
  display:flex;
  flex-direction:column;
}

.field label{
  font-size:13px;
  margin-bottom:4px;
  color:#333;
  font-weight:600;
}

.field input{
  padding:12px;
  border:1px solid #ccc;
  border-radius:6px;
  font-size:14px;
}

.horizontal-form button{
  grid-column: span 3;
  padding:12px;
  background:#4caf50;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-size:16px;
}

/* Tablet */
@media(max-width:900px){
  .horizontal-form{
    grid-template-columns: repeat(2, 1fr);
  }

  .horizontal-form button{
    grid-column: span 2;
  }
}

/* Mobile */
@media(max-width:600px){
  .horizontal-form{
    grid-template-columns:1fr;
  }

  .horizontal-form button{
    grid-column: span 1;
  }
}
/* MODAL */
.modal-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:1000;
}

.modal-box{
  background:white;
  padding:25px;
  border-radius:10px;
  text-align:center;
  width:300px;
  animation:pop 0.3s ease;
}

.modal-box h3{
  color:#4caf50;
}

.modal-box button{
  margin-top:15px;
  padding:8px 20px;
  background:#4caf50;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

@keyframes pop{
  from{transform:scale(0.7);}
  to{transform:scale(1);}
}
.loader{
  width:50px;
  height:50px;
  border:5px solid #ccc;
  border-top:5px solid #4caf50;
  border-radius:50%;
  animation:spin 1s linear infinite;
}

@keyframes spin{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
.field select{
  padding:12px;
  border:1px solid #ccc;
  border-radius:6px;
  font-size:14px;
  background:white;
}
