/* WRAPPER */
.why-wrapper {
  width: 100%;
  padding: 70px 5%;
    text-align: center;   /* <-- THIS CENTERS THE HEADING */

  font-family: "Poppins", sans-serif;
}

/* HEADING */
.why-heading {
  font-size: clamp(28px, 4vw, 46px);
  font-weight: 800;
  margin-bottom: 40px;  
  padding: 12px 35px;
  display: inline-block;
  border-radius: 10px;
  background: linear-gradient(90deg, #18b2e6, #9ff24e);
  color: #fff;
}

/* CONTENT */
.why-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
   
}

/* TEXT */
.why-text {
  flex: 1 1 700px;
   max-width: 1500px;
width: 500px;
}

.why-text p {
  font-size: clamp(16px, 1.8vw, 22px);
  line-height: 1.7;
  font-weight: 500;
  color: #000;
  text-align: center;
  margin: 0 auto;
}

/* ANIMATIONS */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease-out;
}
.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVE */

/* Tablet */
@media (max-width: 1024px) {
  .why-text p {
    font-size: 20px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .why-text p {
    text-align: center;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .why-text p {
    font-size: 16px;
  }
}
