@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");



.container {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

.heading {
  font-size: 55px;
  font-weight: 700;
  text-align: justify;
  margin-bottom: 20px;
  color: #005587;
    max-width: 1100px;

}

.heading span {
  color: #71b516;
  
}

.description {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.8;
  text-align: justify;
  max-width: 1100px;
  margin: auto;
}

.sub-heading {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  font-family: "poppins";
  margin-top: 40px;
}

.sub-description {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.card {
  padding: 25px;
  border-radius: 14px;
  border: 1px solid #eaeaea;
  background: #ffffff;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

.card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  
}

.card p {
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
