@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.container {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

/* Top 3 Cards */
.three-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.three-card {
  background: #ffffff;
  width: 280px;
  padding: 25px;
  border-radius: 18px;
  text-align: center;
  border: 1px solid #eaeaea;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.three-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.three-card img {
  width: 85px;
  margin-bottom: 15px;
  border-radius: 50%;
}

.three-card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.three-card p {
  font-size: 14px;
  line-height: 1.6;
}

/* WHAT YOU GAIN SECTION */
.section-title {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  margin-top: 60px;
  color: #0f172a;
}

.section-description {
  max-width: 850px;
  margin: 20px auto;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.8;
  color: #444;
}

/* 4 Gain Cards */
.gain-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 50px;
}

.gain-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #eaeaea;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: 0.3s ease;
}

.gain-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

.gain-icon {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  margin-bottom: 15px;
  background: linear-gradient(135deg, #00b16a, #5cc9ff);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.gain-card p {
  font-size: 24px;
  line-height: 1.6;
  font-family: Poppins;
  color: #0f172a;
  text-align: justify;
  font-weight: 600;
}

@media (max-width: 960px) {
  .gain-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .gain-grid {
    grid-template-columns: 1fr;
  }
}